@charset "UTF-8";
/* GENERAL */
/* couleurs */
/* HEADER */
/* logo */
/* icône flèche retour en arrière */
/* RESTAURANT */
/* animation 1: preload de 1 à 3sec quand on arrive sur la page d'accueil, couvrir l'intégralité de l'écran */
body .preload {
  animation: splash-screen 3s, fade-in 1s 2s;
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 1;
}
body .preload .loadingSpinner {
  width: 142px;
  height: 40px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: contrast(20);
}
body .preload .loadingSpinner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #9356DC;
  border-radius: 50%;
  animation-name: anim-dot;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
body .preload .loadingSpinner .dots {
  margin-top: 12px;
  margin-left: 31px;
  animation-name: anim-dots;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
body .preload .loadingSpinner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #9356DC;
  border-radius: 50%;
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes splash-screen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes anim-dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes anim-dots {
  50% {
    transform: translateX(-31px);
  }
}
/* animation 2: progressive du menu en fondu avec un léger décalage dans le temps */
#main-menu li {
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}
#main-menu li:nth-child(1) {
  animation-delay: 0.25s;
}
#main-menu li:nth-child(2) {
  animation-delay: 0.5s;
}
#main-menu li:nth-child(3) {
  animation-delay: 0.75s;
}
#main-menu li:nth-child(4) {
  animation-delay: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* animation 3: progressive du check qui devra coulisser de la droite vers la gauche */
#main-menu a .cardMenu {
  /* check de validation (vert)*/
}
#main-menu a .cardMenu .check {
  transition: all 0.5s ease-in-out;
}

/* search-bar */
.bg-greyLight {
  background-color: #EAEAEA;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0px;
  list-style-type: none;
}

h1, h2, h3 {
  margin: 0px;
}

input {
  border: 0px;
}
input:focus {
  outline: none;
}

.btn, #btnOrder, #btnSearch {
  border: none;
  cursor: pointer;
}

* {
  font-family: "Roboto", sans-serif;
}

.btn, #btnOrder, #btnSearch {
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 25px;
  background: linear-gradient(-8deg, #9356DC, #FF79DA);
  transition: all ease-in 0.3s;
}
.btn:hover, #btnOrder:hover, #btnSearch:hover {
  opacity: 0.85;
  box-shadow: 1px 2px 5px #7E7E7E;
}
.btn:focus, #btnOrder:focus, #btnSearch:focus {
  outline: none;
}

/* bouton explorer et commander */
#btnSearch {
  width: 215px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
}

#btnOrder {
  width: 180px;
  height: 50px;
  margin-bottom: 40px;
}

.heart {
  position: relative;
}
.heart .icon {
  position: absolute;
  transform: translate(-50%, -50%);
}
.heart .icon .icon-default {
  transition: all 0.7s ease-in;
  opacity: 1;
  font-size: 24px;
}
.heart .icon .icon-hover {
  display: initial;
  transition: all 0.6s ease-in;
  background: linear-gradient(50deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  font-size: 0.05rem;
}
.heart:hover .icon .icon-default {
  opacity: 0;
}
.heart:hover .icon .icon-hover {
  opacity: 1;
  font-size: 24px;
}

/* Mobile First (mobil, less than 768px) */
.main-container {
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  background-color: #ffffff; /* Blanc par défaut pour mobile */
}

/* ===== header ===== */
header {
  display: flex;
  align-items: center;
  padding-left: 17px;
  /* logo */
  /* lien retour */
}
header img {
  margin: 0 auto;
  width: 160px;
  padding-top: 20px;
  padding-bottom: 10px;
}
header i {
  font-size: 20px;
}

/* ===== footer ===== */
footer {
  background-color: #353535;
  padding-bottom: 20px;
  padding-left: 25px;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 20px;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
}
footer ul {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
footer ul li {
  padding-top: 4px;
  padding-bottom: 4px;
}
footer ul li i {
  font-size: 13px;
  color: white;
  padding-right: 5px;
}
footer ul li a {
  color: white;
  font-size: 16px;
}

/****** Media queries footer ***********/
/* Tablet Styles */
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 57px;
  }
  footer ul {
    flex-direction: row;
  }
  footer ul li {
    margin-right: 19px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  footer h3 {
    margin-left: 15px;
    margin-right: 25px;
  }
}
/* Desktop Styles  */
@media (min-width: 1024px) {
  footer ul li {
    margin-right: 25px;
  }
}
/* ===== main-search ===== */
/* barre de recherche des restaurants */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 5px 6px -5px #b8b7b7, 0 5px 5px rgba(0, 0, 0, 0.2);
  height: 50px;
  width: 100%;
}
.search-bar i {
  font-size: 16px;
  padding-left: 45px;
}
.search-bar input {
  font-weight: 600;
  font-size: 16px;
  max-width: 145px;
  height: 19px;
  padding-left: 15px;
  padding-right: 15px;
}

/* section de recherche d'un restaurant */
.search-container {
  text-align: center;
  margin-top: 8px;
  background-color: #F3F3F3;
}
.search-container h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding-top: 35px;
  margin-left: 42px;
  margin-right: 58px;
}
.search-container h2 {
  text-align: center;
  font-weight: 300;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 18px;
}

/* section Fonctionnement avec trois étapes  */
#main-step {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 20px;
}
#main-step h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
  padding-bottom: 26px;
}
#main-step ul {
  margin: 0px;
  margin-left: 12.5px;
  text-align: center;
}
#main-step ul li {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 25px;
  margin-right: 24px;
  padding-left: 28px;
  padding-right: 22px;
  font-size: 16px;
  font-weight: 600;
  height: 72px;
  max-width: 270px;
  box-shadow: 3px 5px 5px #EAEAEA;
  position: relative;
  background-color: #F3F3F3;
}
#main-step ul li .step-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  position: absolute;
  left: -12px;
}
#main-step ul li i {
  padding-left: 10px;
  padding-right: 25px;
  font-size: 17px;
}

/* section des cartes restaurants */
#main-restaurant {
  padding-top: 54px;
  padding-bottom: 56px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F3F3F3;
  /* conteneur de la photo */
  /****** flexContainer *******/
}
#main-restaurant h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
  padding-bottom: 20px;
}
#main-restaurant .restaurant-card {
  width: 100%;
  min-width: 215px;
  border-radius: 15px;
  margin-bottom: 18px;
}
#main-restaurant .imgContainer {
  position: relative;
  height: 185px;
}
#main-restaurant .imgContainer img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#main-restaurant .imgContainer .new {
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
  background-color: #99E2D0;
  width: 80px;
  height: 22px;
  text-align: center;
  padding-top: 5px;
  color: #0A8D6D;
  position: absolute;
  top: 10px;
  right: 10px;
}
#main-restaurant .cardContent {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 18px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#main-restaurant .cardContent .heart {
  margin-right: 25px;
  margin-top: 23px;
}
#main-restaurant .flexContainer {
  display: flex;
  flex-direction: column;
}
#main-restaurant h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
  margin-top: 5px;
  margin-left: 10px;
}
#main-restaurant span {
  font-size: 17px;
  font-weight: 300;
  margin-top: 5px;
  margin-left: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Tablet Styles 768px*/
@media (min-width: 768px) {
  .search-bar {
    box-shadow: none;
  }
  .search-container {
    margin-top: 0px;
  }
  /* carte des restaurants */
  #main-restaurant {
    padding-left: 20px;
    padding-right: 20px;
  }
  #flexContainer-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  #main-restaurant .restaurant-card {
    width: 48%;
  }
}
/* Desktop more than 1440px */
@media (min-width: 1440px) {
  .main-container {
    max-width: 1440px;
    padding: 0 50px;
  }
}
/* ===== main-photo     ===== */
/* emplacement de la photo du restaurant */
.main-photo {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: 50% 44%;
  background-repeat: no-repeat;
}

/* photo du restaurant */
#img-aLaFrancaise {
  background-image: url("../images/restaurants/a-la-francaise.jpg");
}

#img-laNoteEnchantee {
  background-image: url("../images/restaurants/la-note-enchantee.jpg");
}

#img-laPaletteDuGout {
  background-image: url("../images/restaurants/la-palette-du-gout.jpg");
}

#img-leDeliceDesSens {
  background-image: url("../images/restaurants/le-delice-des-sens.jpg");
}

/* menu du restaurant */
#main-menu {
  background-color: #F3F3F3;
  border-radius: 30px 30px 0 0;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: -30px;
}
#main-menu .flexContainer {
  display: flex;
  align-items: center;
}
#main-menu h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-right: auto;
}
#main-menu a {
  padding-top: 20px;
  margin-top: 10px;
  margin-right: 60px;
}

/* Titres et carte du menu */
#main-starter {
  /* titre secondaire du menu */
}
#main-starter h2 {
  font-size: 16px;
  font-weight: 300;
  width: 38px;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  margin-top: 35px;
}

#main-menu a .cardMenu {
  display: flex;
  width: 100%;
  height: 68px;
  overflow: hidden;
  background-color: white;
  border-radius: 12px;
  box-shadow: 1px 2px 5px #c2c2c2;
  /* check de validation (vert)*/
}
#main-menu a .cardMenu .menu {
  width: 100%;
  /* titre du plat */
  /* flexcontainer (description et prix) */
}
#main-menu a .cardMenu .menu h3 {
  font-weight: 600;
  font-size: 18px;
  padding-top: 13.5px;
  padding-bottom: 4px;
  padding-left: 10px;
}
#main-menu a .cardMenu .menu .flexcontainer {
  display: flex;
  padding-left: 10px;
  /* flexcontainer (description et prix) */
  /* prix */
}
#main-menu a .cardMenu .menu .flexcontainer .description {
  font-weight: 300;
  font-size: 15px;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#main-menu a .cardMenu .menu .flexcontainer .price {
  font-size: 15px;
  color: #353535;
  font-weight: 700;
  margin-right: 20px;
  padding-bottom: 5px;
}
#main-menu a .cardMenu .check {
  display: flex;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 12px 12px 0;
  border: none;
  width: 0%;
  max-width: 90px;
  height: 68px;
  transition: all 0.5s ease-in-out;
  /* icone du check de validation */
}
#main-menu a .cardMenu .check i {
  margin: auto;
  font-size: 22px;
  padding-top: 5px;
}
#main-menu a:hover .cardMenu .check {
  width: 20%;
}

/* main-order (emplacement du bouton commander)*/
#main-order {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Tablet Styles */
/* Desktop Styles */
@media (min-width: 1024px) {
  #main-menu {
    padding-left: 160px;
    padding-right: 160px;
  }
}
/* Desktop more than 1440px */
@media (min-width: 1440px) {
  .main-container {
    max-width: 1440px;
    padding: 0 50px;
  }
  #main-menu {
    padding-left: 210px;
    padding-right: 210px;
  }
}

/*# sourceMappingURL=style.css.map */
