/* GENERAL */

// polices
$font-roboto: 'Roboto', sans-serif;
$font-shrikhand: 'Shrikhand', sans-serif;

/* couleurs */
$primary-color: #9356DC;
$tertiary-color: #99E2D0;

$grey-dark: #353535;
$grey-light: #EAEAEA;
$grey-superlight: #F3F3F3;
$green:#0A8D6D;


/* HEADER */

/* logo */
$logo-width: 160px;

/* icône flèche retour en arrière */
$back-icon-size: 20px;