/* ===== main-photo     ===== */

/* emplacement de la photo du restaurant */
.main-photo {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: 50% 44%;
  background-repeat: no-repeat;
}

/* photo du restaurant */
#img-aLaFrancaise {
  background-image: url($img-aLaFrancaise);
}

#img-laNoteEnchantee {
  background-image: url($img-laNoteEnchantee);
}

#img-laPaletteDuGout {
  background-image: url($img-laPaletteDuGout);
}

#img-leDeliceDesSens {
  background-image: url($img-leDeliceDesSens);
}


/* menu du restaurant */
#main-menu {
  background-color: $grey-superlight;
  border-radius: 30px 30px 0 0;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: -30px;

  // flexcontainer (titre et coeur)
  .flexContainer {
    @include flex-vertical-center;
  }

  // titre du restaurant
  h1 {
    font-family: $font-shrikhand;
    font-weight: 400;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-right: auto;
  }

  // lien du coeur
  a {
    padding-top: 20px;
    margin-top: 10px;
    margin-right: 60px;
  }
}


/* Titres et carte du menu */

#main-starter {
  /* titre secondaire du menu */
  h2 {
    font-size: 16px;
    font-weight: 300;
    width: 38px;
    border-bottom: 3px solid $tertiary-color;
    padding-bottom: 5px;
    margin-top: 35px;
  }
}

#main-menu {
  a {
    .cardMenu {
      display: flex;
      width: 100%;
      height: 68px;
      overflow: hidden;
      background-color: white;
      border-radius: 12px;
      box-shadow: 1px 2px 5px #c2c2c2;

      .menu {
        width: 100%;

        /* titre du plat */
        h3 {
          font-weight: 600;
          font-size: 18px;
          padding-top: 13.5px;
          padding-bottom: 4px;
          padding-left: 10px;
        }

        /* flexcontainer (description et prix) */
        .flexcontainer {
          display: flex;
          padding-left: 10px;

          /* flexcontainer (description et prix) */
          .description {
            font-weight: 300;
            font-size: 15px;
            margin-right: auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          /* prix */
          .price {
            font-size: 15px;
            color: $grey-superdark;
            font-weight: 700;
            margin-right: 20px;
            padding-bottom: 5px;
          }
        }
      }

      /* check de validation (vert)*/
      .check {
        display: flex;
        background-color: $tertiary-color;
        color: white;
        border-radius: 0 12px 12px 0;
        border: none;
        width: 0%;
        max-width: 90px;
        height: 68px;
        transition: all 0.5s ease-in-out;

        /* icone du check de validation */
        i {
          margin: auto;
          font-size: 22px;
          padding-top: 5px;
        }
      }
    }

    &:hover {
      .cardMenu .check {
        width: 20%;
      }
    }
  }
}


/* main-order (emplacement du bouton commander)*/

#main-order {
  display: flex;
  justify-content: center;
  align-items: center;
}